/* body{
    background-color: aqua;
} */
/* table{
    width: 100%;
    text-align: center;
    border:width style color
    border: 1px solid black;
    border-collapse: collapse;
}
th{
    border: 1px solid black;

}
td{
    border: 1px solid black;

} */
/* second table css */

/* table{
    width: 100%;
    text-align: center;
    border:1px solid black;
    border-collapse: collapse;
}
th{
    border:1px solid black;

}
td{
    border:1px solid black;

} */

/* thirs table css */
table{
    width: 100%;
    text-align: center;
    border:1px solid black;
    border-collapse: collapse;

}
th{
    border:1px solid black;

}
td{
    border:1px solid black;

}