*{
    margin: 0;
    padding: 0;
}
.one{
    background-color: aqua;
    text-align: center;
}
.two{
    background-color: bisque;
}
table{
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}
th{
    border: 1px solid black;

}
td{
    border: 1px solid black;

}
.three{
    text-align: center;
}
.table{
    font-size: 45px;
}
.trans{
    font-size: 45px;
}